*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#Java
.idea/
out/
*.iml

# Ignore SQL Connection
src/services/SQLConfig.java

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
src/services/SQLConfig.java
Flights.csv
Planes.csv
ReservationsBinary
ReservationsBinary.txt
