.root {
    -fx-background-color: antiquewhite;
}
#b1 {
    -fx-background-image: "assets/images/mastercard.png";
    -fx-arc-height: 20;
    -fx-arc-width: 20;
}
#b2 {
    -fx-background-image: "assets/images/Maestro.png";
}
#b3 {
    -fx-background-image: "assets/images/visa.jpg";
}
#b4 {
    -fx-background-image: "assets/images/visa-electron.png";
}