.root {
    -fx-background-color: aliceblue;
    -fx-font-family: Helvetica, Arial, sans-serif;
}

.h1 {
    -fx-font-size: 60px;
}

.h2 {
    -fx-font-size: 53px;
}

.h3 {
    -fx-font-size: 40px;
}

.h4 {
    -fx-font-size: 29px;
}

.h5 {
    -fx-font-size: 28px;
}

.h6 {
    -fx-font-size: 24px;
}

.p {
    -fx-font-size: 16px;
}

.bold {
    -fx-font-weight: bold;
}

.btn-info {
    -fx-background-color: #3498DB;
    -fx-color: #ffffff;
}

.btn-warning {
    -fx-background-color: #f1c40f;
}

.btn-danger {
    -fx-background-color: #e74c3c;
}

.btn-default {
    -fx-background-color: #bdc3c7;
}

.btn-disabled {
    -fx-background-color: #bdc3c7;
}

.btn {
    -fx-border-radius: 6px;
    -fx-font-size: 17px;
    -fx-color: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 400;
    -fx-padding: 10px 19px;
}

.btn-small {
    -fx-padding: 5px 10px;
    -fx-font-size: 15px;
}

.btn-search {
    -fx-min-width: 290px;
    -fx-background-color: #244978;
    -fx-max-width: 290px;
    -fx-font-weight: bold;
    -fx-padding: 15px 15px 15px 15px;
    -webkit-fx-margin-top: 14px;
    -moz-fx-margin-top: 50px;
    -ms-fx-margin-top: 50px;
    -o-fx-margin-top: 50px;
    -fx-margin-top: 50px;
}

/* DROPDOWNS */

.dropdown {
    -fx-background-color: #3498DB;
    -fx-text-fill: #ffffff;
    -fx-color: #ffffff;
    -fx-padding: 7px 15px 7px 15px;
    -fx-border-radius: 6px;
    -fx-font-size: 17px;
    -fx-prompt-text-fill: #ffffff;
    -fx-min-width: 290px;
    -fx-max-width: 290px;
}

.dropdown > .arrow-button > .arrow {
    -fx-background-color: #ffffff;
}

.dropdown  > .list-cell {
    -fx-text-fill: #ffffff;
}

.dropdown .list-view {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

/* DATE TIME PICKER */

.datepicker {
    -fx-min-width: 290px;
    -fx-max-width: 290px;
    -fx-text-fill: #2f4154;
    -fx-font-size: 17px;
    -fx-prompt-text-fill: #ffffff;
    -fx-min-height: 47px;
    -fx-show-week-numbers: false;
    -fx-border-width: 0;
}

.datepicker .text-field {
    -fx-padding: 7px 15px 7px 15px;
    -fx-font-size: 17px;
    -fx-border-width: 0;
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-control-inner-background:  #3498DB;
}

.datepicker  > .arrow-button {
    -fx-background-color: #3498DB;
}

.datepicker  > .arrow-button > .arrow {
    -fx-background-color: #ffffff;
}


/* Menu */

.menu-bar {
    -fx-background-color: #244978;
}

.menu-bar .label {
    -fx-padding: 5px 10px;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-line-height: 23px;
    -fx-text-fill: #ffffff;
    -fx-color: #ffffff;
}

.menu-bar .label {
    -fx-padding: 5px 10px;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-line-height: 23px;
    -fx-text-fill: #ffffff;
    -fx-color: #ffffff;
}

.menu-bar .menu-button:hover,
.menu-bar .menu-button:focused,
.menu-bar .menu-button:showing {
    -fx-background-color: #3498DB;
}
.menu-item {
    -fx-background-color: #ffffff;
}

.menu-item:hover {
    -fx-background-color: #3498DB;
}

.menu-item:hover > .label {
    -fx-text-fill: #ffffff;
}

.menu-item >.label {
    -fx-text-fill: #244978;;
}

/* Inputs */
.text-field {
    -fx-padding: 5px 17px;
    -fx-font-size: 16px;
    -fx-min-width: 290px;
    -fx-max-width: 290px;
    -fx-border-radius: 6px;
}

/* =======
    INDEX
  ========*/
.indexTitles {
    -fx-font-size: 18px;
}

/* =======
   Details
 ========= */
.detailsTitle {
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
.detailsSubtitle {
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-text-alignment: left;
}

.detailsTable {
    -fx-border-color: #000 transparent transparent transparent;
    -fx-border-width: 2px;
}

.landingTitle {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-alignment: left;
    -fx-padding: 0 0 10px 0;
}

.detailsTableTitle {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10px 0;
}